<header>
    <nav class="navbar navbar-light container-fluid">
        <div class="container">
            <span class="navbar-text">ESIG Group</span>
            <form class="d-flex">
                <button class="btn btn-outline-light" type="submit" routerLink="/login">
          entrar
        </button>
            </form>
        </div>
    </nav>
</header>
<section>
    <router-outlet></router-outlet>
</section>
<footer>
    <p>ESIG Group © 2011 - 2022. Todos os direitos reservados.</p>
</footer>