.account-page {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    padding: 12px;
    color: rgb(9, 67, 117);
    font-weight: bold;
}

.form-group p {
    text-align: right;
}

.form-group button {
    width: 100%;
    letter-spacing: 1.5px;
    background-color: rgb(14, 3, 78);
}

.form-label {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
}

.text-center {
    color: rgb(0, 1, 68);
    font-family: Poppins, "Helvetica Neue", sans-serif;
    font-size: 2em;
    letter-spacing: 1.5px;
}

footer p {
    position: absolute;
    color: rgb(4, 76, 139);
    font-weight: bold;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    letter-spacing: 1.5px;
}