<main>
    <div class="form-login">
        <h2 class="text-center">Bem-vindo</h2>
        <form (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label">email</label>
                <input type="email" class="form-control" id="email" placeholder="digite seu email" name="email" [(ngModel)]="login.email" required />
            </div>
            <div class="form-group">
                <label class="form-label">senha</label>
                <input type="password" class="form-control" id="password" placeholder="digite sua senha" name="password" [(ngModel)]="login.password" required />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-light" [disabled]="form.form.invalid">entrar
            </button>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-light" routerLink="/">cancelar
          </button>
            </div>
            <div class="form-group">
                <p routerLink="/create-account">Criar sua conta?</p>
            </div>
        </form>
    </div>
</main>
<footer>
    <p>ESIG Group © 2011 - 2022. Todos os direitos reservados.</p>
</footer>